:root{
  font-family: Arial, Helvetica, sans-serif;
  --buttonColor: rgb(200, 59, 14);
}

.addBtn{
  --height: 40px;

  border: 1px solid var(--buttonColor);
  height: var(--height);
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: calc(var(--height) / 2);

  user-select: none;
  cursor: pointer;
  padding: 0px 10px;
}

.addBtn.active{
  background-color: var(--buttonColor);
  justify-content: space-between;
  color: white;
  button{
    border-radius: 50%;
    border: 1px solid  white;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
}